<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <h1>About</h1>
    <nav>
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/work.html">Work</a></li>
        </ul>
    </nav>
    <section>
        <p>Bicep was formed in 2009 as a production and DJing pair in London, UK. The duo, childhood friends,[3] created
            a blog called "Feel My Bicep", which was used to post lost and forgotten disco, Chicago house, Detroit
            techno and Italo disco edits.[4][5]

            They released tracks on labels Throne of Blood, Traveller Records and Mystery Meat before joining Will
            Saul's Aus Music and setting up their own label Feel My Bicep in September 2012.[6][7] That year the pair
            were awarded DJ Mag's 'Best of British Breakthrough DJ' award.[8]

            In 2014, the pair moved into a new studio in Shoreditch.[9]

            In 2015, the duo performed live for the first time at the AVA festival in Belfast, which was recorded by
            Boiler Room.[10]

            After signing to Ninja Tune in 2017, Bicep released their long-awaited debut album Bicep, which went in at
            number 20 in the UK Album Charts[11] on its release, and received critical-acclaim,[12] with support from
            publications such as Pitchfork, The Guardian, Resident Advisor and Mixmag.

            On 6 October 2020, Bicep announced their second album Isles, to be released on the Ninja Tune label on 22
            January 2021. In support of the album, Bicep released the single Apricots as well as the song Atlas.</p>
    </section>
</body>

</html>