<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <h1>Bicep</h1>

    <nav>
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/work.html">Work</a></li>
        </ul>
    </nav>
    <img src="/public/bicepImage.jpg" alt="Bicep Live image">
</body>

</html>