<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <h1>Work</h1>
    <nav>
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/work.html">Work</a></li>
        </ul>
    </nav>
    <section>
        <p>Between 2017-2018, the duo embarked on an extensive live headline world tour to sell-out venues across the
            world, including the US, Japan and Europe. Back in the UK, they sold out shows at Electric Brixton,[13]
            Roundhouse[14] and three consecutive dates at Printworks[15] in London, which was filmed by Resident Advisor
            and one of their final live shows until 2020.[16]</p>
    </section>
</body>

</html>